body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-brand {
    display: flex;
    gap: 10px;
}

.navbar-item {
    color: white;
    font-size: 20px;
}

.navbar-item:hover {
    color: white;
}

.navbar-item.monedas {
    margin-left: 700px;
}

.monedas-texto {
    margin-left: 10px; /* Ajusta la distancia entre el icono y el texto */
}

.monedas {
    color: yellow;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#perfiltexto {
    margin-right: 20px;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
}

main {
    font-family: Arial, sans-serif;
    text-align: center;
}

.button {
    cursor: pointer;
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    background-color: #dcbc00;
    transition: background-color 0.3s ease; 
}

.button-container {
    margin-top: 20px;
}
.ranking-list {
    margin-top: 20px;
}

.verde {
    background-color: #439347;
}

.amarillo {
    background-color: #dcbc00;
}

.rojo {
    background-color: #cf4429;
}

.verde:hover {
    background-color: #92e0a3;
}

.amarillo:hover {
    background-color: #f1f17c;
}

.rojo:hover {
    background-color: #ff6e53;
}

.texto-boton {
    color: white;
}

a {
    text-decoration: none;
}

.card {
    margin: 20px; /* Espacio entre las tarjetas */
    animation: fadeInUp 1.5s forwards; /* Añadir animación a las tarjetas */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}







