<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Comprar Monedas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/comprarmonedas.css}"/>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>
<nav class="navbar">
    <div class="navbar-item">Sudoku</div>
    <div class="navbar-item monedas">
        <span class="monedas">Monedas = <span th:text="${monedas}">0</span></span>
    </div>
    <div class="navbar-brand ml-auto">
        <a class="navbar-item" id="perfiltexto" th:href="@{perfil}">Perfil</a>
        <a class="navbar-item" th:href="@{logout}">Cerrar Sesión</a>
    </div>
</nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Comprar Monedas</h1>
                    <form th:action="@{/comprar}" method="post">
                        <div class="form-group">
                            <label for="cantidad">Cantidad de Monedas:</label>
                            <select class="form-control" id="cantidad" name="cantidad">
                                <option value="5">5 Monedas</option>
                                <option value="10">10 Monedas</option>
                                <option value="25">25 Monedas</option>
                                <option value="50">50 Monedas</option>
                                <option value="100">100 Monedas</option>
                            </select>
                        </div>
                        <button id="wallet_container" type="submit" class="btn btn-primary mt-3">Comprar</button>
                    </form>
                    <div th:if="${preferenceId != null}" class="mt-3">
                        <p>Realiza el pago usando el siguiente enlace:</p>
                        <a th:href="'https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=' + ${preferenceId}" target="_blank" class="btn btn-success">Pagar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://sdk.mercadopago.com/js/v2">
        if ('[[${preferenceId}]]' !== '') {
            const mp = new MercadoPago('APP_USR', {
                locale: 'es-AR'
            });

            mp.checkout({
                preference: {
                    id: '[[${preferenceId}]]'
                },
                render: {
                    container: '#wallet_container', // Indica el nombre del elemento donde se mostrará el botón de pago
                    label: 'Pagar', // Cambia el texto del botón de pago (opcional)
                }
            });
        }
    });
</script>
</body>
</html>