<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Taller Web I</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<nav class="navbar">
  <div class="navbar-item">Sudoku</div>
  <div class="navbar-item monedas">
    <a th:href="@{/comprar}" class="btn btn-link"><span class="monedas">Monedas</span></a> = <span th:text="${monedas}"></span>
  </div>
  <div class="navbar-brand ml-auto">
    <a class="navbar-item" id="perfiltexto" th:href="@{/perfil/{nombreUsuario}(nombreUsuario=${nombreUsuario})}">Perfil</a>
    <a class="navbar-item" th:href="@{logout}">Cerrar Sesión</a>
  </div>
</nav>
<div class="image-fondo cabecera">
  <h1 class="text-center" style="padding: 30px;">ELIGE TU DIFICULTAD</h1>
</div>
<div class="content">
  <div class="row justify-content-center">
    <div class="card text-center fade-in-up" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Facil</h5>
        <p class="card-text">En la dificultad facil el tablero de 81 casillas tiene 15 vacias:</p>
        <ul class="list-group list-group-flush">
          <li th:each="partida : ${listaFaciles}" class="list-group-item">
            <a th:href="@{/perfil/{nombreUsuario}(nombreUsuario=${partida.getUsuario().getNombre()})}"
               th:text="${partida.getUsuario().getNombre()} + ' - ' + ${partida.getTiempo()}">
            </a>
          </li>
        </ul>
            <a th:href="@{/jugar?dificultad=1}" class="button verde">JUGAR</a>
      </div>
    </div>
    <div class="card text-center fade-in-up" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Mediano</h5>
        <p class="card-text">En la dificultad mediano el tablero de 81 casillas tiene 30 vacias:</p>
        <ul class="list-group list-group-flush">
          <li th:each="partida : ${listaNormales}" class="list-group-item">
            <a th:href="@{/perfil/{nombreUsuario}(nombreUsuario=${partida.getUsuario().getNombre()})}"
               th:text="${partida.getUsuario().getNombre()} + ' - ' + ${partida.getTiempo()}">
            </a>
          </li>
        </ul>
            <a th:href="@{/jugar?dificultad=2}" class="button amarillo">JUGAR</a>
      </div>
    </div>
    <div class="card text-center fade-in-up" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Dificil</h5>
        <p class="card-text">En la dificultad dificil el tablero de 81 casillas tiene 45 vacias:</p>
        <ul class="list-group list-group-flush">
          <li th:each="partida : ${listaDificiles}" class="list-group-item">
            <a th:href="@{/perfil/{nombreUsuario}(nombreUsuario=${partida.getUsuario().getNombre()})}"
               th:text="${partida.getUsuario().getNombre()} + ' - ' + ${partida.getTiempo()}">
            </a>
          </li>


        </ul>
            <a th:href="@{/jugar?dificultad=3}" class="button rojo">JUGAR</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>