<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">SUDOKU</a>
    </div>
    <div class="navbar-brand ml-auto">
        <a class="link-primary" th:href="@{perfil}">Perfil</a>
        <a class="link-primary" th:href="@{logout}">Cerrar sesión</a>
    </div>
</nav>
<body>
<div class="container">
    <header>
        <img src="src/main/webapp/resources/img/sudokublanco.png" height="140" width="387"/>
    </header>
    <main>
        <div class="button-container">
            <a href="#" th:href="@{/dificultad}" class="button fade-in-left" id="botonJugar">Jugar</a>
            <a href="#" th:href="@{/mercado}" class="button fade-in-right" id="botonMercado">Mercado</a>
        </div>
        <a href="#" th:href="@{/ranking}" class="button-wide fade-in" id="botonRanking">Ranking / Mejores Jugadores</a>
        <a href="#" th:href="@{/about}" class="button-wide fade-in" id="botonSobre">Sobre este proyecto</a>
    </main>
</div>
</body>
</html>