<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Juego</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/juegoSudokuEstilos.css}"/>
</head>
<body>
<main role="main" class="container">
    <nav class="navbar">
        <div class="navbar-item">Sudoku</div>
        <div class="navbar-item monedas">
            <a th:href="@{/comprar}" class="btn btn-link"><span class="monedas">Monedas</span></a> = <span th:text="${monedas}"></span>
        </div>
        <div class="navbar-brand ml-auto">
            <a class="navbar-item" id="perfiltexto" th:href="@{/perfil}">Perfil</a>
            <a class="navbar-item" th:href="@{/logout}">Cerrar Sesión</a>
        </div>
    </nav>
    <div class="ctn-principal">
        <div id="contenedor-sudoku">
            <table>
                <tbody id="tablero-sudoku" th:data-sudoku="${sudoku}">
                <tbody id="tablero-sudoku-rta" th:data-sudoku-resuelto="${sudokuResuelto}">
                </tbody>
            </table>
            <div id="texto-pausa">Pausa</div>

        </div>
        <div id="teclado-numeric">
            <button class="tecla" data-numero="1">1</button>
            <button class="tecla" data-numero="2">2</button>
            <button class="tecla" data-numero="3">3</button>
            <button class="tecla" data-numero="4">4</button>
            <button class="tecla" data-numero="5">5</button>
            <button class="tecla" data-numero="6">6</button>
            <button class="tecla" data-numero="7">7</button>
            <button class="tecla" data-numero="8">8</button>
            <button class="tecla" data-numero="9">9</button>
        </div>
    </div>
    <div class="timer-container">
        <div class="timer" id="timer">00:00:00</div>
        <button class="button" onclick="ayuda()">Ayuda</button>
        <button class="button" onclick="pista()">Pista</button>
        <button class="button" id="toggleAnotacionesButton">Activar Anotaciones</button>
        <button class="button" onclick="resolverSudoku()" id="rendirse">Mostrar resultado/Rendirse</button>
        <button class="button" id="togglePauseButton" onclick="togglePause()">Pausa</button>
        <div id="botonContainer"></div>
    </div>
</main>
</body>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script th:src="@{/js/tablero.js}"></script>
<script th:src="@{/js/main.js}"></script>
</html>

