<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Juego</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/juegoSudokuEstilos.css}"/>

</head>
<body>
<main role="main" class="container">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand">
                <img th:src="@{/img/sudoku.png}" alt="sudoku" >
            </a>
            <div  class="navbar-brand ml-auto">
                <a class="link-light" data-bs-toggle="modal" data-bs-target="#otroBackdrop">Monedas</a>
                <!-- <a th:text="${usuario.username}" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/> -->
            </div>

        </nav>
    </header>

    <div class="ctn-principal">
        <div id="contenedor-sudoku">
            <table>
                <tbody id="tablero-sudoku" th:data-sudoku="${sudoku.tablero}">
<!--                <tbody id="tablero-sudoku" data-sudoku="1,2,3,4,5,6,7,8,9;4,5,6,7,8,9,1,2,3;7,8,9,1,2,3,4,5,6;2,3,4,5,6,7,8,9,1;5,6,7,8,9,1,2,3,4;8,9,1,2,3,4,5,6,7;3,4,5,6,7,8,9,1,2;6,7,8,9,1,2,3,4,5;9,1,2,3,4,5,6,7,8">-->
                </tbody>
            </table>
        </div>
        <div id="teclado-numeric">
            <button class="tecla">1</button>
            <button class="tecla">2</button>
            <button class="tecla">3</button>
            <button class="tecla">4</button>
            <button class="tecla">5</button>
            <button class="tecla">6</button>
            <button class="tecla">7</button>
            <button class="tecla">8</button>
            <button class="tecla">9</button>
        </div>
    </div>
    <div class="timer-container">
        <div class="timer">00:00:00</div>
        <button class="button" onclick="resolverSudoku()">Resolver Sudoku</button>
        <button class="button" onclick="pista()">Pista $$$</button>
        <button class="button" onclick="ayuda()">Ayuda $$$</button>
        <button class="button" onclick="iniciarJuego()">Iniciar Juego</button>
    </div>


</main>

</body>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script th:src="@{/js/tablero.js}"></script>
<script th:src="@{/js/main.js}"></script>
</html>