<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Taller Web I</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/mercado.css}"/>
</head>
<body>
<nav class="navbar">
    <div class="navbar-item">Sudoku</div>
    <div class="navbar-item monedas">
        <a th:href="@{/comprar}" class="btn btn-link"><span class="monedas">Monedas</span></a> = <span th:text="${monedas}"></span>
    </div>
    <div class="navbar-brand ml-auto">
        <a class="navbar-item" id="perfiltexto" th:href="@{/perfil/{nombreUsuario}(nombreUsuario=${nombreUsuario})}">Perfil</a>
        <a class="navbar-item" th:href="@{logout}">Cerrar Sesión</a>
    </div>
</nav>
<section>
    <div class="image-fondo cabecera">
        <h1 class="text-center" style="padding: 30px;">MERCADO DE POTENCIADORES</h1>
    </div>
    <div class="content">
        <div class="row justify-content-center">
            <div class="card text-center fade-in-left" style="width: 18rem">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Ayuda</h5>
                    <p class="card-text">Selecciona un casillero del tablero que no esté vacío, la ayuda te dirá si el número ingresado es correcto o no.</p>
                    <div class="mt-auto">
                        <form action="ruta_a_tu_accion_de_ayuda" method="post">
                            <button type="submit" class="button amarillo">COMPRAR</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card text-center fade-in-right" style="width: 18rem">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Pista</h5>
                    <p class="card-text">Selecciona un casillero del tablero, la pista te introducirá un número correcto.</p>
                    <div class="mt-auto">
                        <form action="ruta_a_tu_accion_de_pista" method="post">
                            <button type="submit" class="button verde">COMPRAR</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>