<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/estiloRanking.css}"/>
    <title>Ranking</title>
</head>
<body>
<h1>Ranking Jugadores</h1>

<h1>Tabla de Jugadores</h1>

<table id="playersTable">
    <thead>
    <tr>
        <th>Clasificación</th>
        <th>Jugador</th>
        <th>Partidas Jugados</th>
        <th>Tiempo de Juego</th>
        <th>Perfil del Jugador</th>
        <th>Sudokus Completados</th>
    </tr>
    </thead>
    <tbody>
    <!-- Las filas se agregarán aquí dinámicamente -->
    </tbody>
</table>
</body>
</html>