<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/estiloRanking.css}"/>
    <title>Ranking</title>
</head>
<body>
<h1>Ranking Jugadores</h1>

<table id="playersTable">
    <thead>
    <tr>
        <th>Clasificación</th>
        <th>Jugador</th>
        <th>Partidas Jugados</th>
        <th>Tiempo de Juego</th>
        <th>Perfil del Jugador</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="usuario : ${listaUsuarios}">
            <td th:text="${usuario.getId()}"></td>
            <td th:text="${usuario.getNombre()}"></td>
            <td th:text="${usuario.getCantidadPartidasJugadas()}"></td>
            <td th:text="${usuario.getHorasJugadas()}"></td>
            <td></td>
        </tr>


    </tbody>
</table>
</body>
</html>